.register-container {
    background-image: url("../BU-Diamond.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    background-attachment: fixed;
}
.register-form {
    min-height: 100vh;
    padding-top: 20vh;
    background-color: #ffffffee;
    justify-content: center;
    border-top-left-radius: 60px;
    border-bottom-left-radius: 60px;
}
.btn {
    margin-top: 1rem;
    width: 100%;
}
.register-home {
    font-size: 30px;
    text-align: center;
}
.forget-password {
    text-align: end;
    color: #FAB73B;
}
.login {
    text-align: center;
    color: #FAB73B;
}
.link-login {
    display: flex;
    justify-content: end;
    color: #FAB73B;
}
.link-login:hover {
    color: #FAB73B;
}
.question-text{
    display: flex;
    justify-content: center;
    padding: 10px;
}
.btn-warning{
    color: white !important;
}
.spectrum-FieldLabel_d2db1f{
    font-size: 15px !important;
}
.input-form {
  margin-bottom: 10px;
}
.copyright {
    color: white;
    font-size: 14px;
    text-align: center;
    position: absolute;
    bottom: 0;
    margin-left: 5px;
  }